@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Books Details";
}

<div class="container">
    <div class="row align-items-md-stretch pt-5 mb-5">
        <div class="col-md-4 mb-5">
            <div class="d-flex">
                <img class="img-fluid" style="width: 100%" src="https://www.graphicsprings.com/filestorage/images/1152/Screen%20Shot%202018-04-13%20at%2010.13.01%20AM.png?width=520&amp;quality=80&amp;crop=0&amp;method=ratio" alt="Book.Name">
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <h1>Beautiful World, Where Are You</h1>
            </div>
            <div class="row">
                <p><a href="#">Lucky Diaz</a> (Author), <a href="#">Micah Player</a> (Illustrator)</p>
            </div>
            <div class="row mb-5">
                <label class="block font-sans-semibold mb-1 text-xs tracking-wide">FORMAT</label>
                <div class="col-sm-6 col-md-6 d-flex justify-content-between">
                    <button class="btn btn-outline-light" type="button" style="width: 10rem; ; text-align: left; font-size: 25px; padding-left: 5px;">
                        <p>Audio <br> $89.78</p>
                    </button>
                    <button class="btn btn-outline-light" type="button" style="width: 10rem; text-align: left;margin-left: 20px; font-size: 25px;">
                        <p>Text <br>$34.23</p>
                    </button>
                </div>
            </div>
            <div class="d-flex justify-content-between mb-5">
                <button class="btn btn-primary btn-outline-light" type="button" style="width: 10rem; font-size: 20px; border-radius: 20px">
                    Read
                </button>
                <button class="btn btn-info btn-outline-light" type="button" style="width: 10rem; font-size: 20px; margin-left: 20px; border-radius: 20px">
                    Listen
                </button>
                <button class="btn btn-outline-light" type="button" style="width: 10rem; font-size: 20px; margin-left: 20px; border-radius: 20px">
                    Download
                </button>
            </div>
            <div class="row mb-2">
                <h3 class="h3 mb-2">Description</h3>
                <b>
                    <i>Beautiful World, Where Are You</i> is a new novel by Sally Rooney, the bestselling author of
                    <i>Normal People </i>and <i>Conversations with Friends</i>.
                </b>
                <p>
                    Alice, a novelist, meets Felix, who works in a warehouse, and asks him if he'd like to travel to
                    Rome with her. In Dublin, her best
                    friend, Eileen, is getting over a break-up, and slips back into flirting with Simon, a man she
                    has known since childhood.
                    Alice, Felix, Eileen, and Simon are still young--but life is catching up with them. They desire
                    each other, they delude each other,
                    they get together, they break apart. They have sex, they worry about sex, they worry about their
                    friendships and the world they live
                    in. Are they standing in the last lighted room before the darkness, bearing witness to
                    something? Will they find a way to believe in a beautiful world?
                </p>

                <p></p>
                <p>
                    <b>A Macmillan Audio production from Farrar, Straus and Giroux</b>
                </p>
            </div>
            <div class="mb-2">
                <div class="col-md-6">
                    <div class="col">
                        <h3 class="h3 mb-2">Product Details</h3>
                    </div>
                    <div class="row ">
                        <div class="col" style="text-align: right;">Price</div>
                        <div class="col" style="text-align: left;">$36.79</div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align: right;">Publisher</div>
                        <div class="col" style="text-align: left;">MacMillan Audio</div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align: right;">Publish Date</div>
                        <div class="col" style="text-align: left;">September 07, 2021</div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align: right;">Language</div>
                        <div class="col" style="text-align: left;">English</div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align: right;">Type</div>
                        <div class="col" style="text-align: left;">Audio</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col" style="text-align: right;">ISBN</div>
                        <div class="col" style="text-align: left;">9781250818034</div>
                    </div>
                </div>
            </div>
            <div>
                <p>
                    <b>BISAC Categories: </b>
                    <a href="/t/bisac/fic/019000">Literary</a>,
                    <a href="/t/bisac/fic/044000">Women</a>,
                    <a href="/t/bisac/fic/043000">Coming of Age</a>,
                    <a href="/t/bisac/fic/071000">Friendship</a>
                </p>
            </div>
            <div class="row mb-2">
                <div class="mb-8">
                    <h3 class="h3 mb-2">About the Author</h3>
                    <div class="space-y-4 show-lists">
                        <b>Sally Rooney</b> is the author of the novels <i>Conversations with Friends</i> and
                        <i>Normal People</i>.
                        She was the winner of the Sunday Times/Peters Fraser + Dunlop Young Writer Award in 2017. In
                        2018, <i>
                            Conversations with Friends
                        </i>was short-listed for both the Dylan Thomas Prize and the Rathbones Folio Prize, and
                        <i>Normal People</i>
                        was the Waterstones Book of the Year, won the Costa Novel Award, and was long-listed for the
                        Booker Prize. <i>Normal People</i>
                        won the Encore Award in 2019. Rooney was the editor of <i>The Stinging Fly</i> in 2018 and a
                        Cullman Center Fellow at the New
                        York Public Library from 2019 to 2020. She was nominated for an Emmy for her work on the
                        Hulu/BBC television adaptation of
                        <i>Normal People </i>in 2020.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>